<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sql -->
      <package
            uri="http://www.dian.gov.co/mdd/sql"
            class="sql.SqlPackage"
            genModel="metamodels/sql.genmodel"/>
   </extension>

</plugin>
