<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.uniandes/arquitecturadian/dsl/Sql"
			class = "uniandes.xtext.arquitecturadian.dsl.sql.SqlPackage"
			genModel = "model/generated/Sql.genmodel" />
	</extension>
</plugin>
